.search-form{
    &-item{
        margin-bottom: 1rem;
        &.three-inline{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-inline{
            flex: 0 0 42%;
            &.btn{
                flex: 0 0 10%;
                button{font-size: 1rem;
                    font-weight: 700;}
            }
        }
    }
    @media (max-width:1280px){
        &-item{
            &.three-inline{
                flex-wrap: wrap;
            }
            &-inline{
                flex: 0 0 45%;
                margin-bottom:1rem;
                &.btn{flex: 0 0 100%;text-align: right;}
            }
        }
    }
    @media (max-width:390px){
        &-item{
            &-inline{
                flex: 0 0 100%;
                
            }
        }
    }
}