.app-header{
    padding:1rem;
    text-align: left;
    background-color: #1976d2;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    &-content{
        display:flex;
        align-items:center;
        justify-content: space-between;
    }
    h1{
        font-size: 2rem;
        display: inline-block;
        color: #fff;font-weight: bold;
        margin:0;
        vertical-align: top;
    }
    &-btns{
        .active{
            svg{
                fill: #f8e110;
            }
        }
    }
    
    @media (max-width:768px){
        &-content{flex-wrap: wrap;}
        &-btns{text-align: right;}
        &-title,&-btns{flex: 0 0 100%;}
        &-title{display: flex;align-items:center;}
        h1{font-size:1.3rem;}
    }
}
.menu {
    &-link{
        text-decoration: none;
        font-weight: bold;
        padding:0.5rem 1rem;
        color: #000;
        display:block;
        font-size: 1.5rem;
    }
}